RentIt/BinaryCommunicator/Service References/ServiceReference1/RentItService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/System.ServiceModel" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/System.ServiceModel" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://rentit.itu.dk/RentIt01/RentItService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System" />
  <xs:complexType name="FaultExceptionOfException5F2dSckg">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="FaultExceptionOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.ServiceModel" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="Exception" Namespace="http://schemas.datacontract.org/2004/07/System" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:FaultException" />
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FaultExceptionOfException5F2dSckg" nillable="true" type="tns:FaultExceptionOfException5F2dSckg" />
  <xs:complexType name="FaultException">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CommunicationException" />
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FaultException" nillable="true" type="tns:FaultException" />
  <xs:complexType name="CommunicationException">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/System" base="q1:SystemException" />
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CommunicationException" nillable="true" type="tns:CommunicationException" />
  <xs:complexType name="FaultException.FaultReasonData">
    <xs:sequence>
      <xs:element name="text" nillable="true" type="xs:string" />
      <xs:element name="xmlLang" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FaultException.FaultReasonData" nillable="true" type="tns:FaultException.FaultReasonData" />
  <xs:complexType name="ArrayOfFaultException.FaultCodeData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FaultException.FaultCodeData" nillable="true" type="tns:FaultException.FaultCodeData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFaultException.FaultCodeData" nillable="true" type="tns:ArrayOfFaultException.FaultCodeData" />
  <xs:complexType name="FaultException.FaultCodeData">
    <xs:sequence>
      <xs:element name="name" nillable="true" type="xs:string" />
      <xs:element name="ns" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FaultException.FaultCodeData" nillable="true" type="tns:FaultException.FaultCodeData" />
  <xs:complexType name="ArrayOfFaultException.FaultReasonData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FaultException.FaultReasonData" nillable="true" type="tns:FaultException.FaultReasonData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFaultException.FaultReasonData" nillable="true" type="tns:ArrayOfFaultException.FaultReasonData" />
  <xs:complexType name="FaultExceptionOfArgumentException5F2dSckg">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="FaultExceptionOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.ServiceModel" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArgumentException" Namespace="http://schemas.datacontract.org/2004/07/System" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:FaultException" />
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FaultExceptionOfArgumentException5F2dSckg" nillable="true" type="tns:FaultExceptionOfArgumentException5F2dSckg" />
  <xs:complexType name="FaultExceptionOfInvalidCredentialsExceptionFe9b7uG0">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="FaultExceptionOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.ServiceModel" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="InvalidCredentialsException" Namespace="http://schemas.datacontract.org/2004/07/RentIt" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:FaultException" />
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FaultExceptionOfInvalidCredentialsExceptionFe9b7uG0" nillable="true" type="tns:FaultExceptionOfInvalidCredentialsExceptionFe9b7uG0" />
  <xs:complexType name="FaultExceptionOfUserCreationExceptionFe9b7uG0">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="FaultExceptionOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.ServiceModel" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="UserCreationException" Namespace="http://schemas.datacontract.org/2004/07/RentIt" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:FaultException" />
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FaultExceptionOfUserCreationExceptionFe9b7uG0" nillable="true" type="tns:FaultExceptionOfUserCreationExceptionFe9b7uG0" />
</xs:schema>