RentIt/BinaryCommunicatorServer/Service References/RentItService/RentItService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://rentit.itu.dk/RentIt01/RentItService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/RentIt" />
  <xs:import schemaLocation="http://rentit.itu.dk/RentIt01/RentItService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Data.Linq" />
  <xs:import schemaLocation="http://rentit.itu.dk/RentIt01/RentItService.svc?xsd=xsd6" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="GetBookInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBookInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/RentIt" minOccurs="0" name="GetBookInfoResult" nillable="true" type="q1:BookInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMovieInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMovieInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/RentIt" minOccurs="0" name="GetMovieInfoResult" nillable="true" type="q2:MovieInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAlbumInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAlbumInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/RentIt" minOccurs="0" name="GetAlbumInfoResult" nillable="true" type="q3:AlbumInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMediaItems">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/RentIt" minOccurs="0" name="criteria" nillable="true" type="q4:MediaCriteria" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMediaItemsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/RentIt" minOccurs="0" name="GetMediaItemsResult" nillable="true" type="q5:MediaItems" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAlsoRentedItems">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAlsoRentedItemsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/RentIt" minOccurs="0" name="GetAlsoRentedItemsResult" nillable="true" type="q6:MediaItems" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateCredentials">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/RentIt" minOccurs="0" name="credentials" nillable="true" type="q7:AccountCredentials" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateCredentialsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/RentIt" minOccurs="0" name="ValidateCredentialsResult" nillable="true" type="q8:Account" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateNewUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/RentIt" minOccurs="0" name="newAccount" nillable="true" type="q9:Account" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateNewUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateNewUserResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCustomerData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/RentIt" minOccurs="0" name="credentials" nillable="true" type="q10:AccountCredentials" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCustomerDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/RentIt" minOccurs="0" name="GetAllCustomerDataResult" nillable="true" type="q11:UserAccount" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPublisherData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/RentIt" minOccurs="0" name="credentials" nillable="true" type="q12:AccountCredentials" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPublisherDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/RentIt" minOccurs="0" name="GetAllPublisherDataResult" nillable="true" type="q13:PublisherAccount" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAccountInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/RentIt" minOccurs="0" name="credentials" nillable="true" type="q14:AccountCredentials" />
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/RentIt" minOccurs="0" name="account" nillable="true" type="q15:Account" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAccountInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateAccountInfoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCredits">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/RentIt" minOccurs="0" name="credentials" nillable="true" type="q16:AccountCredentials" />
        <xs:element minOccurs="0" name="addAmount" type="xs:unsignedInt" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCreditsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddCreditsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RentMedia">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mediaId" type="xs:int" />
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/RentIt" minOccurs="0" name="credentials" nillable="true" type="q17:AccountCredentials" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RentMediaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RentMediaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PublishMedia">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/RentIt" minOccurs="0" name="info" nillable="true" type="q18:MediaInfo" />
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/RentIt" minOccurs="0" name="credentials" nillable="true" type="q19:AccountCredentials" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PublishMediaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PublishMediaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAccount">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/RentIt" minOccurs="0" name="credentials" nillable="true" type="q20:AccountCredentials" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAccountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteAccountResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateMediaMetadata">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/RentIt" minOccurs="0" name="newData" nillable="true" type="q21:MediaInfo" />
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/RentIt" minOccurs="0" name="credentials" nillable="true" type="q22:AccountCredentials" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateMediaMetadataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateMediaMetadataResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteMedia">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mediaId" type="xs:int" />
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/RentIt" minOccurs="0" name="credentials" nillable="true" type="q23:AccountCredentials" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteMediaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteMediaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMediaData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mediaId" nillable="true" type="xs:string" />
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/RentIt" minOccurs="0" name="credentials" nillable="true" type="q24:AccountCredentials" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMediaDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/System.Data.Linq" minOccurs="0" name="GetMediaDataResult" nillable="true" type="q25:Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllGenres">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/RentIt" minOccurs="0" name="mediaType" type="q26:MediaType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllGenresResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetAllGenresResult" nillable="true" type="q27:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubmitReview">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/RentIt" minOccurs="0" name="review" type="q28:MediaReview" />
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/RentIt" minOccurs="0" name="credentials" nillable="true" type="q29:AccountCredentials" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubmitReviewResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SubmitReviewResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>